<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
    <add key="WSGI_HANDLER" value="iis_wsgi.application" />
    <add key="WSGI_LOG" value="%APPL_PHYSICAL_PATH%logs\wfastcgi.log" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\\Python313\\python.exe|C:\\Python313\\Lib\\site-packages\\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
